body {
    background: #001821 ;
    margin:0;
   
}

/*.wrapper {                      какие правила для .wrapper правильные?(img/1.png тут тоже не работает)
    position: absolute;
    display: inline-block;
    height: 2930px;
    width: 1920px;
    left: 0px;
    top:0px;
    background-image: url('img/1.png') center top no-repeat;
    background-image: url('img/2.png') center bottom 165px no-repeat;
}*/
.wrapper {
  position: relative;                        
  height: 2930px;
  width: 1920px;
  background:   url('img/1.png') center top 0  no-repeat,
  url('img/2.png') center bottom 165px no-repeat;

}

.header{
  margin-top:26px ;
  margin-right:390px ;
  margin-left:390px ;
  position: relative  ;
  width: 1141px;
  height: 124px; 
}

.header__logo{
    background-image: url('img/logo.png');
    position: absolute;
    margin-top:2px ;
    margin-left:1px ;
    margin-bottom: 85px;
    z-index: 10px;
    height: 36px;
    width: 85px;
}

.menu{                    /*размеры по макету задал в пикселях но почему-то с Perfect-Pixel не совпали по ширине*/
  position: absolute;
  margin-top:15.36px;
  margin-right: 713px;
  margin-bottom: 89px;
  margin-left:164px;
  height: 19px;
  width: 264px;
}
.menu__list{
  list-style:none;
}

.menu__link-gl{
  position: absolute;
  top: 0px;
  margin-right: 208px;
  font-family:OpenSans;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__link-u{
  position: absolute;
  top:0px;
  margin-right: 108;
  margin-left: 110px;
  font-family:OpenSans;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__link-o{
  position: absolute;
  top: 0px; 
  margin-left: 210px;
  font-family:OpenSans;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.contacts__top{
  position: absolute;
  margin-top: 0px;
  right: 0px;      /*вопрос: почему margin-right не работает? смещает влево(!) до нуля */
  margin-bottom:88.36px;
  /*left: 950px;*/
  font-family:OpenSans;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}

.contacts__graph{
  position: absolute;
  margin-top:28.5px;
  right: 4px;
  margin-bottom:74.86px;
  font-family:OpenSans;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: underline;
  font-style: normal;   
}









.main{
  width: 1920px;
  height: 2630px; 
  margin-top:150px ;
  margin-right:390px ;
  margin-left:390px ;
  position: relative  ;
  display: block;
}










.preview{
  margin-top:46px ;
  margin-right:1019px ;
  margin-left:390px ;
  position: relative  ;
  width: 511px;
  height: 333px; 

}
.preview__title{
  position: absolute;
  margin-top: 0px;
  margin-bottom: 136px;
  width: 511px;
  height: 197px;
  font-family:OpenSans;
  font-size: 72px;
  line-height: 84px;
  display: flex;
  align-items: flex-end;
  color: #FFFFFF;
  text-decoration: underline;
  font-style: normal;
  text-decoration: none  
}
.preview__text{
  position: absolute;
  margin-right:315px ;
  margin-bottom: 89px;
  width: 196px;
  height: 20px;
  font-family:OpenSans;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: underline;
  font-style: normal;
  text-decoration: none  
}
.preview__button{
position: absolute;
margin-right:278px ;
margin-top: 343px;
width: 168px;
height: 55px;
background: #F5170E;
border-radius: 35px;

border: 1px;
border-style:solid;
border-color: brown;
padding: 18px 40px; 
font-weight: 12px;
text-decoration: none;

font-family: OpenSans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}


















.features {
  margin-top:775px ;
  margin-right: 391px;
  margin-left:389px;
  position: relative;
  width: 1140px;
  height: 549px;   
}
.features__content-one{
display:inline-block;
position: relative;
margin-top:0px ;
margin-right: 831px;
margin-bottom: 500px;
margin-left:0px;
height: 49px;
width: 306px;

}

.features__text-hot{         /*   !!!!!!*/ 
position: absolute;
margin-right: 0px;
vertical-align: middle;
font-family:OpenSans;
font-size: 36px;
line-height: 42px;
color: #FFFFFF;
text-decoration: none;
display: flex;
align-items: flex-end;
}

.features__list{
  list-style:none;
}



.features__img-flame{ 
  position: relative;                        
  height: 28px;
  width: 21px;
  background:  url('img/flame(1).png')  no-repeat;
  vertical-align: middle;
  margin-left:285px ;
}

.features__list{
list-style:none;
}

.features__container-one{         /*   !!!!!!*/ 
  margin-top: 100px; 
  margin-right: 778px;
  margin-left:0px;
  height: 449px;
  width: 362px;
  display: inline-block;
  position: relative;
  background: #FFFFFF;
  border-radius: 5px 5px 0px 0px;
}

.features__img-one{
  height: 144px;
  width: 362px;
  position: absolute;
  margin-top: 0px; 
  background:  url('img/river.png')  no-repeat;
}

/*.features__content-one{
  height: 144px;
  width: 305px;
  position: relative;
  margin-top: 144px; 
}

.features__subtitle{
position: absolute;
width: 108px;
height: 33px;
margin-top: 33px;
margin-right: 232px;
margin-bottom: 239px;
margin-left: 22px;

font-family: OpenSans;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
color: #000000;
}


.features__desk-block{
position: absolute;
width: 90px;
height: 22px;
margin-top: 89px;
margin-right: 208px;
margin-bottom: 194px;
margin-left: 64px;
font-family: OpenSans;
font-size: 16px;
line-height: 19px;
display: flex;
align-items: center;
color: #666666;
}


.features__desk-block-img{
  height: 26px;
  width: 26px;
  position: absolute;
  margin-top: 87px;
  margin-right: 308px;
  margin-bottom: 192px;
  margin-left: 28px;
  background:  url('img/calendar.png')  no-repeat;
}*/












.news{
  margin-top:1451px ;
  margin-right: 390px;
  margin-left:390px;
  position: relative;
  width: 1139px;
  height: 600px;   
}
.about{
  margin-right: 390px;
  margin-bottom:203px ;
  margin-left:390px;
  position: relative;
  width: 1139px;
  height: 552px; 
}






.footer{
  border-top:solid 4px #FFFFFF;
  margin-right: 390px;
  margin-bottom:58px ;
  margin-left:390px;
  position: relative;
  width: 1142px;
  height: 93px;

}
.footer__logo{
  background-image: url('img/logo.png');
  position: absolute;
  margin-top:50px ;
  margin-bottom: 7.64px;
  margin-left:1px ;
  z-index: 10px;
  height: 36px;
  width: 85px;
}
.footer__menu{        
  position: absolute;
  margin-top:63px;
  margin-right: 713px;
  margin-bottom: 10px;
  margin-left:165px;
  height: 19px;
  width: 264px;
}

.menu__list{
  list-style:none;
}

.menu__link-gl{
  position: absolute;
  top: 0px;
  margin-right: 208px;
  font-family:OpenSans;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__link-u{
  position: absolute;
  top:0px;
  margin-right: 108;
  margin-left: 110px;
  font-family:OpenSans;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__link-o{
  position: absolute;
  top: 0px; 
  margin-left: 210px;
  font-family:OpenSans;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
}

.socials{ 
  position: relative;             
  margin-top:53px;
  margin-left:703px;
  margin-right: 265px;
  margin-bottom: 3px;
  height: 36px;
  width: 174px;
}

.socials__list{
  list-style: none;
}

.social__item{
  vertical-align: middle; 
  margin-left:10px;
  display: inline-block;
}

.social__item__tg{
width: 36px;
height: 36px;
display: block;
}

.social__item__vk{
 
  width: 36px;
  height: 36px;
  display: block;

}

.social__item__fb{
 
  width: 36px;
  height: 36px;
  display: block;
}

.social__item__instagram{

  width: 36px;
  height: 36px;
  display: block;
}


.footer__contacts{
  position: absolute;
  margin-top: 73px;
  right: 0px;      /*вопрос: почему margin-right не работает? смещает влево(!) до нуля */
  margin-bottom:88px;
  font-family:OpenSans;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}
.contacts__graph{
  position: absolute;
  margin-top:47px;
  right: 0px;
  margin-bottom:26px;
  font-family:OpenSans;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: underline;
  font-style: normal;   
}





  












  /*.social-items{
    display: inline-block;
    vertical-align: middle;
    margin-left:5px; 
  }
  .fb{
    width: 30px;
    height: 30px;
    display: block;
  }
  .vk{
    width: 30px;
    height: 30px;
    display: block;
   }
   .tw{
     width: 30px;
    height: 30px;
    display: block;
  }*/



 /* .wrapper__img{
    background-image: url('img/1.png');  
    position: absolute;
    background-position: top;
    top: 0px;
    height: 1202px;
    width: 1920px;
}
.wrapper__img{
    background-image: url('img/2.png');
    position: absolute;
    top:1872px;
    bottom:165px;
    height: 893px;
    width: 1920px;
}*/









/*.button{
	border: 2px;
	border-style:solid;
	color: #e85f61;
	border-radius:40px;
  padding: 7px 15px; 
  font-weight: 12px;
  text-decoration: none;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;  
}
.button__text,.button__icon{
	display: inline-block;
  vertical-align: middle;
}
.button:hover{
  background:  #e85f61;
  color: #ffffff;
  border: #e85f61 2px;
  text-decoration-color:#ffffff; 
}