body {
    background: #001821 ;
    margin:0px;
    width:100%;
    height:100%;
   
}

.wrapper {
  overflow-x: hidden;
  position: relative;                       
  min-height: 100%;
  background:   url('img/1.png') center top 0  no-repeat,
  url('img/2.png') center bottom 165px no-repeat;

}


.header{
    /* Если margin-left убрать съезжает влево до конца*/
    margin-left:390px;
    position: relative;
    height:150px;
    width: 1140px;
    }
    
    
    
    
    .header__logo{
        position: absolute;
        left:0px;
        top:10px;
    }
    
    .menu{
        position: absolute;
        display: inline-block;
        top:10px;
        left:50%;
        transform: translate(-50%);
    }
    
    .menu__list{
        list-style:none;
    }
    
    .menu__item{
        display: inline-block;
        margin-right: 54px;
    
    }
    
    .menu__item:last-child{
        margin-right: 0px;
    }
    
    .menu__link{
        font-family:OpenSans;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
    }
    
    .contacts{
        position: absolute;
        right: 0px; 
        top:10px; 
    }
    
    .contacts__top{
        font-family:OpenSans;
        font-size: 26px;
        line-height: 30px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: none;
        font-style: normal;
    }
    
    
    .contacts__graph{
        font-family:OpenSans;
        font-size: 13px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: underline;
        font-style: normal;   
    }
  
  
  



    .preview{
        margin-top:50px ;
        margin-left:390px ;
        position: relative  ;
        display: block;
        width: 510px;
        height: 350px;
      }
      
      
      
      
      
      .preview{
        padding-top:0px ;
        width: 511px;
        height: 333px;
      
      }
      
      
      .preview__title{
        font-family:OpenSans;
        font-size: 72px;
        line-height: 84px;
        display: flex;
        align-items: flex-end;
        color: #FFFFFF;
        font-style: normal;
      
      }
      
      .preview__text{
        margin-top: 28px;
        font-family:OpenSans;
        font-size: 18px;
        line-height: 20px;
        color: #FFFFFF;
        font-style: normal;
        text-decoration: none  
      }
      
      .preview__button{
        margin-top:35;
        background: #F5170E;
        border-radius: 35px;
        border: 1px;
        border-style:solid;
        border-color: #F5170E;
        padding: 18px 40px; 
        text-decoration: none;
        font-family: OpenSans;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        }
      
.features {
        margin-top:250px ; 
        margin-left: 390px;
        width: 1140px;
        height: 600px; 
}

.features__content{
        display: inline-block;
        }       
  
 /*почему чтобы вставить огонем мне нужно прописывать inline-block  и для этого элемента*/
.features__text-hot {
            display: inline-block;     
            margin-top:0px ;
            margin-left: 0px;       
            font-family: OpenSans;
            font-size: 36px;
            line-height: 42px;
            color: #FFFFFF;
            width: 250px;
        }   

.features__img1{ 
                              
        background:  url('img/flame.png')  no-repeat;
        margin-top: 10px;
        margin-left:20px;
        width: 21px;
        height: 28px;
        } 
 




.features__list{
        /*margin-left: 0px;*/
        margin-top: 20px;
        list-style:none;
        margin:0px;

        }
/*Почему блоки  Li не помещаются  в родительский lu?*/
.features__item{
        display: inline-block;
        background:  url('img/river.png')  no-repeat top 0 left 390, url('img/pool.png')  no-repeat top 0 left 780
        ,url('img/ocean.png')  no-repeat top 0 right 390;
        width: 362px;
        height: 450px;
        margin-right: 27px;
        align-items: center; 
        background:#FFFFFF; 
        /*Почему у меня увеличился родительский блок?*/
        padding: 0  22px;
        position: relative;
        }


.features__item:last-child{
            margin-right: 0px;
        }
/*Нужен ли здесь этот селектор?
         .features__container{ 
            width: 360px;
            height: 454px;
            margin-left: 0px;
            align-items: center;}*/

        

.features__desk-block{
    width: 120px;
    display: inline-block;
}

/*Почему не реагирует на запрос паддинг?*/

.features__button-text{
position: absolute;
padding-bottom: 26px;  
background: #F5170E;
border-radius: 35px;
border: 1px;
border-style:solid;
border-color: #F5170E;
padding: 18px 40px; 
font-weight: 12px;
text-decoration: none;
font-family: OpenSans;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.features__button-text:hover{
     background: #FFFFFF;
    border-radius: 35px;
    border: 1px;
    border-style:solid;
    border-color: #F5170E;
    padding: 18px 40px; 
    font-weight: 12px;
    text-decoration: none;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #F5170E;
    }







.news{
    margin-top:130px ;
    margin-left:390px; 
    }

.news__title{
font-family: OpenSans;
font-size: 36px;
line-height: 42px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
     }



/*почему блоки не становятся вровень с .news__title*/     
.news__item{
display: inline-block;
width: 560px;
height: 390px;
margin-right: 40px;
vertical-align: top; 
/*Почему у меня увеличился родительский блок?*/
position: relative;
}

.news__content{
    position: absolute;
    bottom: 30px;
    top:252px;
    left:32px;
}
/*Почему не встали в один ряд?*/
.news__date{
    display: inline-block;
    width: 200px;
}

.news__date-month,.news__date-year{
font-family: OpenSans;
font-size: 14px;
line-height: 21px;
color: #FFFFFF;
}
 
.news__subtitle{
font-family: OpenSans;
font-size: 24px;
line-height: 36px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.news__text{
font-family: OpenSans;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.paginator__list,.paginator__display{
    display: inline-block;   
}

.paginator__item{
    display: inline-block;
}

.paginator{
    text-align: center;
}
/*Почему не сработало?*/
.paginator__link__1{
    background:#FFFFFF ;
    border-radius: 50%;
    color: red;
    padding:5px 8px ;
}

.paginator__display,.paginator__display-current,.paginator__display-all{
font-family: OpenSans;
font-size: 16px;
line-height: 20px;
color: #FFFFFF;
}

.paginator__link__1,.paginator__link{
font-family: OpenSans;
font-size: 16px;
line-height: 21px;
display: flex;
align-items: center;
color: #FFFFFF;

}




/*блок не получился совсем */

.about{
    margin-bottom:160px ;
    margin-left:390px;
    display: inline-block;
    /*width: 1140px;
    height: 552px; */
  }


  .about__img,.about__img--one{
      display: inline-block;
      vertical-align: top;
  }

  .about__img{
    width: 490px;
    height: 505px;
  }

  .about__img--one{
  width: 785px;
  height: 455px;
  margin-top:100px;
  margin-left: -150px;
  padding: 70px 66px 81px;
  }

  .about__content{
    font-family: OpenSans;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
  }

  .about__title{
    font-family: OpenSans;
    font-size: 16px;
    line-height: 27px;
    color: #060606;
  }

  .about__button-text{
    position: absolute;
    padding-bottom: 26px;  
    background: #F5170E;
    border-radius: 35px;
    border: 1px;
    border-style:solid;
    border-color: #F5170E;
    padding: 18px 40px; 
    font-weight: 12px;
    text-decoration: none;
    font-family: OpenSans;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;

  }










  .footer{
    border-top:solid 1px #FFFFFF;
    margin-right: 390px;
    margin-bottom:50px ;
    margin-left:390px;
    position: relative;
    width: 1140px;
    height: 100px;
  }
  .footer__logo{
    position: absolute;
    margin-top:50px ;
    margin-bottom: 8px;
    margin-left:0px ;
  }
 
  .footer__menu{
          position: relative;
          display: inline-block;
          top:10px;
          left:50%;
        
      }
      
      .menu__list{
          list-style:none;
      }
      
      .menu__item{
          display: inline-block;
          margin-right: 54px;
      
      }
      
      .menu__item:last-child{
          margin-right: 0px;
      }
      /* не подключились стили не знаю почему*/
      .menu__link{
          top: 0px;
          font-family:OpenSans;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          text-decoration: none;
      }
  
  .socials{ 
    position: relative;             
    margin-top:50px;
    margin-left:703px;
    margin-bottom: 3px;
  }
  
  .socials__list{
    list-style: none;
  }
  
  .social__item{
    vertical-align: middle; 
    margin-left:10px;
    display: inline-block;
  }
  
  .social__item__tg{
  
  display: block;
  }
  
  .social__item__vk{
   
    display: block;
  
  }
  
  .social__item__fb{
   
    display: block;
  }
  
  .social__item__instagram{
  
    display: block;
  }
  
  
  
  .contacts__graph-bottom{
    position: absolute;
    top:40px;
    right: 0px;
    font-family:OpenSans;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    text-decoration: underline;
    font-style: normal;   
  }
  
  
  
  
  
  .contacts-bottom{
    position: absolute;
    top: 69px;
    right: 0px;      
    font-family:OpenSans;
    font-size: 26px;
    line-height: 30px;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
  }
  