body {
    margin:0px;
    width:100%;
    height:100%;
    font-family: "Open Sans"; 
    background-color:#001821 ;
}
*{
  box-sizing: border-box;
}

ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
margin: 0;
}

img{
  display: block;
  max-width: 100%;
}


.wrapper {
  overflow-x: hidden;                      
  min-height: 100%;
 
}
.container{
  width: 1140px;
  margin:0 auto;
}






.top-line{
height:412px; 
background: #001821   url('img otsiv/headline.png') left top no-repeat;
display: flex;
flex-direction:column;
}

.top__container{
 padding: 40px 0px;
}
 



.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

/*.header__col{
display: flex;
align-items: center;
} 

.header__col--align--right{
justify-content: flex-end;
}*/
  
  
  
  
  .header__logo{
    display: block;
    margin-right: 100px;
     
  }
  
  .menu{
      display:  flex;
  }
  
  .menu__list{
      list-style:none;
      display: flex;
  }
  
  .menu__item{
      display: flex;
      margin-right: 54px;
  
  }
  
  .menu__item:last-child{
      margin-right: 0px;
  }
  
  .menu__link{
      top: 0;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      text-decoration: none;
  }

  .menu__link:hover{
    color: #DA0100;
  }
  

  
  .contacts__top{
      font-size: 26px;
      line-height: 30px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      text-decoration: none;
      font-style: normal;
  }
  
  
  .contacts__graph{
      font-size: 13px;
      line-height: 16px;
      display: flex;
      align-items: center;
      text-decoration: underline;
      font-style: normal;   
      color: #98A4A8;
        
    }

    .contacts__graph:hover{
      color: #FFFFFF;
    }

    .vipad {
      position: relative;
    }

    .vipad:hover .dropdown{
      display: block;
    }

  
    
    .dropdown{
      position: absolute;
      /*position: relative;*/
      margin-top: 5px;
      height: 80px;
      width: 160px;
      display: none;
  }



  .dropdown__rectengel-one{
    width: 160px;
    height: 60px;
    background:#CDD1D2 ;
    border: solid 1px #CDD1D2;
    border-radius: 10px;
    position: absolute;

    
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .dropdown__rectengel{
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background:#CDD1D2 ;
    position: absolute;
    right: 70px;
    top:-5px;

  }



.dropdown__text{ 
font-weight: 600;   
font-size: 13px;
line-height: 21px;
display: flex;
align-items: center;
color: #1E1F20;

}


.dropdown__text-eda{

font-size: 13px;
line-height: 21px;
display: flex;
align-items: center;
color: #1E1F20;}


    
    
    

    .otsiv{
      margin-top: 100px;
      margin-left: 0px;
    }

    .otsiv__title{
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
    left: 0px;
    top: 150px;
  }

  .breadcrumbs__list{
    display: flex;
    align-items: center;
    top: 105px;
    left: 0px;
  }

  .breadcrumbs__item{
    display: flex;
  }

  .breadcrumbs__link{
    color: #FFFFFF;
    font-size: 13px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: underline;
    font-style: normal; 
  }












  .main {
    background: #FFFFFF ;
    color:#303030 ; 
  }

  .main__container{
    padding: 40px 0px;
  }

.services__list{
  /*justify-content: space-between;
  display:inline-flex;
  flex-direction: column;
  flex-wrap: wrap;

НЕ подключаются колонки почему-то*/


  column-gap: 25px;
  column-count: 2;
  
}

  .services__item{
    padding: 50px 32px 32px; 
    background: #F4F5F5;
    /*max-width: 470px;*/
    margin-bottom: 20px;
    display: inline-block;
  }

.services__start{
  display: flex;
  margin-bottom: 27px;
}
.services__photo{
  max-width: 142px;
  max-height: 142px;
  border-radius:50%;
  overflow: hidden;
}

.zagolovok{
  flex: 1;
  margin-left: 25px;
}

.services__content{
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 0px;
}

.services__title{
  text-decoration: underline;
  color:#2E77A4 ;
  width: bold;
}
.services__socials{
  margin-left: 7px;
  max-width: 30px;
  max-height: 30px;
}


.servcies__tag{
  padding: 10px 20px 10px 20px;
  text-align: center;
  border-radius:35px;
  background-color:#B9EAE4 ;
  max-width: 200px;
  max-height: 40px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
}

/*.services__sod{

}*/

.services__desk{
font-size: 30px;
line-height: 42px;
display: flex;
align-items: center;
color: #1A1B1E;
margin-bottom: 13px;
}

.services__colum{
font-size: 16px;
line-height: 27px;
display: flex;
align-items: center;
color: #818181;
margin-bottom: 50px;
}

/*.services__data{
  display: flex;
  align-items: center;
}*/

.services_date-month,.services__date-year{
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  color: #818181;
  }



.paginator__list{
    display: flex;
    justify-content: center;
    align-items: center;   
}

.paginator__item{
  display: inline-block;
}

.paginator{
  display: flex;
  justify-content:center;
  text-align: center;
  margin-bottom: 65px;
  align-items: center;
}


.paginator__display,.paginator__display-current,.paginator__display-all{
font-size: 16px;
line-height: 20px;
color: #000000;
}

.paginator__display{
  margin-right: 25px;
}

.paginator__link{
font-size: 16px;
line-height: 21px;
display: block;
align-items: center;
border-radius: 50%;
color: #000000;
padding:5px 10px ;
text-decoration: none;
}



.paginator__link:hover{
  background:red ;
  color: #FFFFFF;

}









.baner{
  background: url("img otsiv/Rectangle.png") ;
  min-height: 360px;
  margin-bottom: 0px;
  margin-top: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
.baner__container{
  display: flex;
  padding: 20px 0px 0px;
  justify-content: space-between;
  
}

.baner__foto{
  display: flex;
  /*justify-content: end;
  padding: 20px 40px 0px;*/
  margin-bottom: -33px;
}

.baner__content{
  display: flex;
  max-width: 50%;
  margin: 20px 0px;
  font-size: 40px;
  line-height: 56px;
  color: #FFFFFF;
  align-items: flex-end;
}







.otsiv__end{
  background: #F4F5F5; 
  color:#303030 ;
  margin-bottom: 0px;
}


.otsiv__end__container{
  padding: 20px 0px;
}


.otsiv__end__text{
    font-size: 48px;
    line-height: 56px;
    color: #1A1B1E;
    left: 0px;
    top: 150px;
}

.form__row{
  display: flex;
  margin-bottom: 30px;
}

.form__row:last-child{
  margin-bottom: 0px;
}
.form__imput{
  /*display: flex;*/
  flex: 1;
  margin-right: 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 20px 250px 20px 30px;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;
}

.form__imput:hover{
  /*display: flex;
  flex: 1;
  margin-right: 20px;*/
  border:solid 2px salmon;
  /*border-radius: 4px;
  padding: 20px 250px 20px 30px;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;*/
}



.form__imput:last-child{
  margin-right: 0px;
}

.form__imput--textarea{
  display: flex;
  flex:1;
  margin-right: 0px;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 20px ;
  height: 256px;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #1A1B1E;
  background: #FFFFFF;
}


.form__imput--textarea:hover{
  
  border: solid 2px salmon;
  
}









.uslugi{
  background: #F4F5F5; 
  color:#303030 ;
  margin-bottom: 0px;
}
.uslugi__container{ 
  padding: 20px 0px;
}


.uslugi__start{
  display: flex;
  flex:1;
  align-items: flex-start;
  margin-bottom: 32px;
 
}

.uslugi__title{
  white-space: nowrap;
}





.uslugi__text{
  display: flex;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1A1B1E;
  margin-right: 75px;
  
}

.uslugi__uslugi{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-right: -10px;
 
}

.uslugi__list{
  margin-bottom: 10px;
  margin-right: 10px;
}

.uslugi__list:last-child{
  margin-right: 0px;
}



.uslugi__ramka{
  display: flex;
  align-items:center;
  justify-content: flex-end;
  margin-bottom: 100px;

}

.preview__button{
    background: #F5170E;
    border-radius: 35px;
    border: 1px;
    border-style:solid;
    border-color: #F5170E;
    padding: 18px 40px; 
    font-weight: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 20px;
  }

  .preview__button2{
    background: #8E8E8E;
    border-radius: 35px;
    border: 1px;
    border-style:solid;
    border-color: #8E8E8E;
    padding: 18px 40px; 
    font-weight: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }


  .preview__button2:hover{
    background: #2B2B2B;
    border-radius: 35px;
    border: 1px;
    border-style:solid;
    border-color: #2B2B2B;;
    padding: 18px 40px; 
    font-weight: 12px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }








 














































































.footer__container{
    padding: 0px 0px;
    display: flex;
    justify-content:space-between;
    align-items: center;  
}
  
  
  
  
  
  
.footer{
    
    margin-left: 0px;
    margin-bottom:50px ;
    /*display: flex;
    justify-content: space-between;*/
    align-items: center;
}
  
.footer__col{
  display: flex;
  align-items: center;
} 
  
.footer__col--align--right{
  justify-content: flex-end;
}
  
  
  
  
.footer__logo{
    margin-right: 100px;
}
  
      
.menu__list{
    list-style:none;
}
      
.menu__item{
          display: flex;
          margin-right: 54px;
}
      
.menu__item:last-child{
          margin-right: 0px;
}
      
.menu__link{
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          color: #FFFFFF;
          text-decoration: none;
}
  
.socials{ 
        margin-right:75px;
}
  
.socials__list{
    list-style: none;
    display: flex;
}
  
.social__item{
    vertical-align: middle; 
    margin-left:10px;
    display: flex;
}
  
.social__item:first-child{
    margin-left: 0;
}
  
.social__item__tg:after{
  content: "";
  display: block;
  /*position: absolute;*/
  background: url('sprite/sprites.png')-290px -10px ;
  width: 36px; 
  height: 36px;
  }

  .social__item__tg:hover:after{
    width: 36px; 
    height: 36px;
    background: url('sprite/sprites.png') -234px -10px;
  }
  
  .social__item__vk:after{
  content: "";
  display: block;
  /*position: absolute;*/
  background: url('sprite/sprites.png')-346px -10px ;
  width: 36px; 
  height: 36px;
  }

  .social__item__vk:hover:after{
    width: 36px; 
    height: 36px;
    background: url('sprite/sprites.png') -402px -10px;
  }

.social__item__fb:after{
  content: "";
  display: block;
  /*position: absolute;*/
  background: url('sprite/sprites.png')-10px -10px ;
  width: 36px; 
  height: 36px;   
}

.social__item__fb:hover:after{
  width: 36px; 
  height: 36px;
  background: url('sprite/sprites.png') -66px -10px;
}

.social__item__instagram:after{
  content: "";
  display: block;
  /*position: absolute;*/
  background: url('sprite/sprites.png')-122px -10px ;
  width: 36px; 
  height: 36px; 
 
}

.social__item__instagram:hover:after{
  width: 36px; 
  height: 36px;
  background: url('sprite/sprites.png') -178px -10px;
}





  
/*.social__item__tg{
  display: block;
}
  
.social__item__vk{
 display: block;
}
  
.social__item__fb{
display: block;
  }
  
.social__item__instagram{
   display: block;
}*/
  
  
  
     
  /*.contacts__footer{
    position: absolute;
    right: 0px; 
    top:170px; 
  }*/
  
  
.contacts__graph-bottom{
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    color: #FFFFFF;
    text-decoration: underline;
    font-style: normal;   
}
  
  
  
  
  
.contacts-bottom{
    font-size: 26px;
    line-height: 30px;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
    font-style: normal;
}